# Music Model 
## Load Libs

In [1]:
import pandas as pd #sollte immer existieren
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
#from sklearn.externals import joblib
import joblib
from sklearn import tree

## Load Data

In [2]:

#md = pd.read_csv('C:\Temp\ML\music.csv')
#md = pd.read_csv('https://raw.githubusercontent.com/dataprofessor/data/master/delaney_solubility_with_descriptors.csv')
md = pd.read_csv('https://linux91.local:8441/repository/files/files/music.csv')
md

    age  gender      genre
0    20       1     HipHop
1    23       1     HipHop
2    25       1     HipHop
3    26       1       Jazz
4    29       1       Jazz
5    30       1       Jazz
6    31       1  Classical
7    33       1  Classical
8    37       1  Classical
9    20       0      Dance
10   21       0      Dance
11   25       0      Dance
12   26       0   Acoustic
13   27       0   Acoustic
14   30       0   Acoustic
15   31       0  Classical
16   34       0  Classical
17   35       0  Classical

## Adjust Data

In [3]:
X = md.drop(columns=['genre'])
X

    age  gender
0    20       1
1    23       1
2    25       1
3    26       1
4    29       1
5    30       1
6    31       1
7    33       1
8    37       1
9    20       0
10   21       0
11   25       0
12   26       0
13   27       0
14   30       0
15   31       0
16   34       0
17   35       0

In [4]:
Y = md['genre']
Y

0        HipHop
1        HipHop
2        HipHop
3          Jazz
4          Jazz
5          Jazz
6     Classical
7     Classical
8     Classical
9         Dance
10        Dance
11        Dance
12     Acoustic
13     Acoustic
14     Acoustic
15    Classical
16    Classical
17    Classical
Name: genre, dtype: object

## Create Model

In [5]:
model = DecisionTreeClassifier()
model.fit(X, Y)
predictions = model.predict([[21, 1], [22, 0]])
predictions

c:\Temp\OCP-Project\Dev_Spaces\DockerFiles\.venv\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['HipHop', 'Dance'], dtype=object)

In [6]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2)
model = DecisionTreeClassifier()
model.fit(X_train, Y_train)
predictions = model.predict(X_test)

score = accuracy_score(Y_test, predictions)
score

0.75

## Model File

In [7]:
joblib.dump(model, 'music-reommender.joblib')
#joblib.dump(model, 'music-reommender.joblib')

['music-reommender.joblib']

## Apply Model

In [8]:
model = joblib.load('music-reommender.joblib')
predictions = model.predict([[21, 1]])
predictions

c:\Temp\OCP-Project\Dev_Spaces\DockerFiles\.venv\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['HipHop'], dtype=object)

In [9]:
tree.export_graphviz(model, out_file='music-reommender.dot',
                    feature_names=['age', 'gender'],
					class_names=sorted(Y.unique()),
					label='all',
					rounded=True,
					filled=True)